<top-nav></top-nav>
<div id="wrapper" class="container-fluid">
    <div class="row">
        <div class="col-sm-2 col-xs-1" id="sidebar-wrapper" data-ng-controller="Sidebar as sidebar">
            <h3>Categories</h3>
            <sidebar></sidebar>
        </div>
        <div class="col-sm-10 col-xs-11" id="content" data-ng-controller="BlogList as list">
            <div class="filterButtons">
                <ul class="nav nav-pills">
                    <li role="presentation" class="active">
                        <a data-ng-click="list.setFilterMode('all')">All</a>
                    </li>
                    <li role="presentation">
                        <a data-ng-click="list.setFilterMode('author')">Author</a>
                    </li>
                </ul>
            </div>
            <div data-ng-include="'app/blogList/blogList.html'"></div>
            <div kendo-window="list.blogContentWindow"
                 k-options="list.blogContentWindowOptions"></div>

        </div>
    </div>
</div>
<footer></footer>